.carousel {
  overflow-x: scroll;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel__img {
  width: 150px;
  margin: 0 200px;
  transition: transform 1s, margin 1s;
}

.carousel__img.active {
  z-index: 1;
  -webkit-perspective: 0px;
  -webkit-transform: perspective(0) rotateY(0);
     -moz-transform: perspective(0) rotateY(0);
          transform: perspective(0) rotateY(0);
}

.carousel__img:not(.active).right {
  margin-left: -275px;
  -webkit-perspective: 600px;
  -webkit-transform: perspective(600) rotateY(-60deg);
     -moz-transform: perspective(600) rotateY(-60deg);
          transform: perspective(600) rotateY(-60deg);
}

.carousel__img:not(.active).right.first {
  margin-left: -242px;
}

.carousel__img:not(.active).left {
  margin-right: -275px;
  -webkit-perspective: 600px;
  -webkit-transform: perspective(600) rotateY(60deg);
  -moz-transform: perspective(600) rotateY(60deg);
  transform: perspective(600) rotateY(60deg);
}

.carousel__img:not(.active).left.last {
  margin-right: -242px;
}