.starships-list {
  height: 100%;
  overflow: scroll;
}

.starships-list__item {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.starships-list__img {
  width: 100%;
}

.loading {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.loading > img {
  width: 44px;
}