<div class="starships-list">
  <div class="row">
    <div
      class="starships-list__item col-xs-12 col-sm-6 col-md-4"
      ng-repeat="starship in $ctrl.starships"
      ng-click="$ctrl.starshipSelected(starship)">
      <img
        class="starships-list__img"
        src="http://www.d20radio.com/main/wp-content/uploads/2016/09/Decimator-300x300.jpg"
        alt="{{starship.name}}" />
      {{starship.name}}
    </div>
    <div class="loading starships-list__item" ng-if="$ctrl.loading">
      <img src="http://www.thebay.com/wcsstore/HBCStorefrontAssetStore/images/colors/color1/loading.gif" alt="Loading" />
    </div>
  </div>
</div>