<div class="starship-tunning">

  <div class="row">
    <!-- left column -->
    <div class="left-column col-sm-12 col-md-7">
      <img
        class="starship-detail__image"
        src="http://www.d20radio.com/main/wp-content/uploads/2016/09/Decimator-300x300.jpg"
        alt="Random image"
        width="200" />
      <span>Ship principal image</span>
      <form class="form-horizontal">
        <div class="form-group">
          <div class="checkbox">
            <label>
              <input type="checkbox" />Ship color
            </label>
          </div>
        </div>
        <div class="form-group">
          <toggle-button
            on-change="$ctrl.onDetectionChange(checked)"
            checked="true">
            Enable detection
          </toggle-button>
        </div>
        <div class="form-group">
          <toggle-button
            on-change="$ctrl.onTurboBoostChange(checked)"
            checked="true">
            Install interstellar turbo boost
          </toggle-button>
        </div>
        <div class="form-group">
          <input id="passengers" type="number" class="form-control" ng-model="$ctrl.passengers" />
          <label for="passsengers">Number of passengers</label>
        </div>
        <div class="form-group">
          <input id="date" type="date" class="form-control" ng-model="$ctrl.date" />
          <label for="passsengers">Number of passengers</label>
        </div>
      </form>
    </div>
    <!-- /left column -->

    <!-- right column -->
    <div class="right-column col-sm-12 col-md-5">
      <iframe
        height="300"
        frameborder="0"
        src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJgTwKgJcpQg0RaSKMYcHeNsQ&key=AIzaSyDVPk0zRe7-9kOQbycxpNiEGp073LAy48A"
        allowfullscreen>
      </iframe>
      <span>Location of the starship-detail</span>
      <div class="buttons-group">
        <button class="btn btn-primary">Reserve</button>
        <button class="btn btn-primary">Build for me</button>
      </div>
    </div>
    <!-- /right column -->
  </div>

  <a ui-sref="app.ships-list">&#x2039; Back to list</a>

</div>