.starship-detail__image {
  width: 300px;
  align-self: center;
}

span {
  align-self: center;
}

.right-column,
.left-column {
  display: flex;
  flex-direction: column;
}

.right-column {
  align-items: center;
}

.buttons-group {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

button.btn {
  width: 110px;
  margin-top: 10px;
}

input[type=date],
input[type=number] {
  display: inline-block;
  margin-right: 5px;
  width: auto;
}

.form-horizontal .form-group {
  margin: 0 0 15px 0;
}

iframe {
  width: 100%;
}