@media (min-width: 768px) {
  .app .container {
    margin-top: 20px;
  }

  .app__menu {
    margin-right: -1px;
    margin-top: 20px;
    z-index: 1;
  }

  .col-sm-3.app__menu {
    padding: 0
  }

  .app__menu__item.active {
    border-right: 0;
  }

  .app__content {
    height: 90vh;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid #000000;
  }
}

.app.container {
  padding-top: 15px;
}

.app__menu > ul {
  list-style: none;
  padding: 0;
}

.app__menu__item {
  border: 1px solid #000000;
  margin-bottom: 1px;
  padding: 0 10px 0 10px;
  background-color: #cccccc;
}

.app__menu__item.active {
  background-color: #ffffff;
}

.app__content {
  height: 90vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 15px;
}