<div class="app container">
  <div class="row">
    <!-- menu -->
    <div class="col-xs-12 col-sm-3 app__menu">
      <ul>
        <li class="app__menu__item ng-class:{'active': $ctrl.isActiveItem('app.ships-list')}">Select a ship</li>
        <li class="app__menu__item ng-class:{'active': $ctrl.isActiveItem('app.ship-details')}">Ship details</li>
        <li class="app__menu__item ng-class:{'active': $ctrl.isActiveItem('app.ship-tunning')}">Ship tunning</li>
      </ul>
    </div>
    <!-- /menu -->

    <!-- section -->
    <div class="app__content col-xs-12 col-sm-9">
      <ui-view></ui-view>
    </div>
    <!-- /section -->
  </div>
</div>