.starship-detail {
  display: flex;
  flex-direction: column;
}

img-carousel,
.starship-detail__text {
  margin-bottom: 20px;
}

.starship-detail__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}