<div class="starship-detail">
  <img-carousel images="$ctrl.images"></img-carousel>

  <div class="row">
    <!-- text -->
    <div class="starship-detail__text col-sm-12 col-md-7">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores iure, ducimus veniam aperiam est, provident et quasi maiores cumque pariatur harum! Aut libero non dignissimos reprehenderit consequuntur necessitatibus sint atque cupiditate, in ab exercitationem excepturi quos recusandae repudiandae voluptatum nulla soluta perferendis nostrum, quibusdam deleniti totam. Maxime magnam odit debitis provident natus temporibus quaerat aut, adipisci, ut, corporis nulla doloremque aspernatur facere molestiae. A voluptatibus quaerat officia similique impedit perspiciatis, sint expedita nesciunt saepe placeat culpa, aliquam beatae nihil eaque nostrum perferendis, alias magnam eligendi ducimus sit. Praesentium ullam veniam velit rem placeat, at blanditiis iure ipsa veritatis, quis quibusdam magnam labore fuga libero deserunt enim? Earum esse repellendus eligendi distinctio nostrum asperiores nulla libero illum harum quo accusamus natus quos laboriosam itaque nihil, dolore praesentium sequi ea? Eos dolore porro, deserunt ex velit hic eius repudiandae magnam, nam saepe commodi ea nisi.
    </div>
    <!-- /text -->

    <!-- details table -->
    <div class="col-sm-12 col-md-5">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Specification</th>
              <th>Detail</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Model</th>
              <th>{{$ctrl.starship.data.model}}</th>
            </tr>
            <tr>
              <th>Cargo capacity</th>
              <th>{{$ctrl.starship.data.cargo_capacity}}</th>
            </tr>
            <tr>
              <th>Consumables</th>
              <th>{{$ctrl.starship.data.consumables}}</th>
            </tr>
            <tr>
              <th>Creation date</th>
              <th>{{$ctrl.starship.data.created | date:'yyyy-MM-dd'}}</th>
            </tr>
            <tr>
              <th>Hyperdrive rating</th>
              <th>{{$ctrl.starship.data.hyperdrive_rating}}</th>
            </tr>
            <tr>
              <th>Length</th>
              <th>{{$ctrl.starship.data.length}}</th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- /details table -->
  </div>

  <div class="starship-detail__buttons">
    <a ui-sref="app.ships-list">&#x2039; Back to list</a>
    <button class="btn btn-primary" ng-click="$ctrl.onSelectClick()">Select</button>
  </div>

</div>